## Fetching data from MySQL

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
connection_string = ("mysql+mysqlconnector://root:root@localhost/vehicle_number_plate")

In [3]:
engine = create_engine(connection_string)

In [4]:
query = "SELECT * FROM Vehicles"

In [5]:
df =pd.read_sql(query, engine)

In [6]:
engine.dispose()

In [7]:
df.head()

   vehicle_id  flat_number vehicle_number vehicle_type
0           1          212    HR90OD9701       Tenant
1           2          186    HR28BM3019        Guest
2           3          157    HR15SD5626        Owner
3           4          258    HR22YB4802       Tenant
4           5           39    HR64OW6088        Guest

## Fetch data from BigQuery

In [8]:
from google.cloud import bigquery
import os

In [9]:
service_account_path = 'D:/projects/vehicle_number_plate_detection/oauth-credentials.json'

# Set the environment variable to point to your service account key file
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = service_account_path

client = bigquery.Client()

query = """
SELECT *
FROM `deep-ethos-427902-u1.vehicle_number_plate.Vehicles`
"""

query_job = client.query(query)

results = query_job.result().to_dataframe()

results.head()

d:\projects\vehicle_number_plate_detection\.venv\Lib\site-packages\google\cloud\bigquery\table.py:1727: UserWarning: BigQuery Storage module not found, fetch data with the REST endpoint instead.
  warnings.warn(

   vehicle_id  flat_number vehicle_number vehicle_type
0          77          198    HR30CR0695        Guest
1         179          224    HR26IZ7826        Guest
2         206          280    HR23MT3267        Guest
3          47          270    HR91PE1359        Guest
4         155          154    HR11DH1297        Guest

## Insert data in MySQL

In [ ]:
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData
from sqlalchemy.orm import sessionmaker

def insert_into_table(database_url, table_name, data):
    """
    Insert values into a MySQL table using SQLAlchemy.

    Parameters:
        database_url (str): The database URL.
        table_name (str): The name of the table.
        data (dict): A dictionary where keys are column names and values are the values to insert.

    Returns:
        None
    """
    # Create an engine
    engine = create_engine(database_url)

    # Create a metadata object
    metadata = MetaData()

    # Reflect the table
    table = Table(table_name, metadata, autoload_with=engine)

    # Create a configured "Session" class
    Session = sessionmaker(bind=engine)

    # Create a Session
    session = Session()

    try:
        # Insert the data
        insert_stmt = table.insert().values(data)
        session.execute(insert_stmt)
        session.commit()
        print(f"Record inserted successfully into {table_name} table")

    except Exception as e:
        print(f"Error while inserting data: {e}")
        session.rollback()

    finally:
        # Close the session
        session.close()

# Example usage:
if __name__ == "__main__":
    database_url = 'mysql+pymysql://your_username:your_password@your_host/your_database'
    table_name = 'your_table'
    data = {
        'column1': 'value1',
        'column2': 'value2',
        'column3': 'value3'
    }

    insert_into_table(database_url, table_name, data)

In [ ]:
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData
from sqlalchemy.orm import sessionmaker
from datetime import datetime

In [ ]:
entry_time = datetime.now()

In [ ]:
connection_string = ("mysql+mysqlconnector://root:root@localhost/vehicle_number_plate")

In [ ]:
engine = create_engine(connection_string)

In [ ]:
metadata = MetaData()

In [ ]:
table = Table('Vehicle_Entry', metadata, autoload_with=engine)

In [ ]:
Session = sessionmaker(bind=engine)

In [ ]:
session = Session()

In [ ]:
insert_stmt = table.insert().values(vehicle_id, entry_time)

In [ ]:
session.execute(insert_stmt)

In [ ]:
session.commit()
print("Record inserted successfully")

In [ ]:
session.close()