In [10]:
import pandas as pd
from sqlalchemy import create_engine

In [11]:
connection_string = ("mysql+mysqlconnector://root:root@localhost/vehicle_number_plate")

In [12]:
engine = create_engine(connection_string)

In [13]:
query = "SELECT * FROM flats"

In [14]:
df =pd.read_sql(query, engine)

In [15]:
engine.dispose()

In [16]:
df.head()

   flat_number  floor_id flat_name     owner_name
0            1         1    A-0101    Mahesh Babu
1            2         1    A-0102  Shahrukh Khan
2            3         1    A-0103  Shahrukh Khan
3            4         1    A-0104     Alia Bhatt
4            5         1    A-0105     Ravi Kumar