In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
connection_string = ("mysql+mysqlconnector://root:root@localhost/vehicle_number_plate")

In [3]:
engine = create_engine(connection_string)

In [4]:
query = "SELECT * FROM Vehicles"

In [5]:
df =pd.read_sql(query, engine)

In [6]:
engine.dispose()

In [7]:
df.head()

   vehicle_id  flat_number vehicle_number vehicle_type
0           1          212    HR90OD9701       Tenant
1           2          186    HR28BM3019        Guest
2           3          157    HR15SD5626        Owner
3           4          258    HR22YB4802       Tenant
4           5           39    HR64OW6088        Guest